<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="4x3grid.css" />  
    <link rel="stylesheet" href="boxicons.css" />
</head>
<body>
    <div class="_1r3c flx-box-row flx-align-start flx-just-start p-0-6">
        <nav class="nav nav-dark flx-box-row flx-just-between rounded-0-6">
            <brand>
            <i class="bx bx-bulb"></i> 
            <span>LampStackEd</span>
            </brand>
            <ul class="fs-08">
                <li class="nav-li"><a class="nav-a p-0-6" href="?strRoute=/Home">Home</a></li>
                <li class="nav-li"><a class="nav-a p-0-6" href="?strRoute=/Resume">Resume</a></li>
                <li class="nav-li"><a class="nav-a p-0-6" href="?strRoute=/Services">Services</a></li>
                <li class="nav-li"><a class="nav-a p-0-6" href="?strRoute=/Contact">Contact</a></li>
            </ul>
        </nav> 
    </div>

</body>
</html>