:root {
    /* Typography Settings */
    --app-font-size: 16px;

    /* Box Settings */
    --app-layout-width: 90%;
    --app-gap: 0.625rem; /* Gap variable (10px) */
    --app-padding: 0.625rem; /* Padding variable (10px) */

    /* Color Settings */
    --app-border-color: #ccc; /* Border color variable */
}

@media (max-width: 1200px) {
    :root {
        --app-font-size: 15px;
    }
}

@media (max-width: 992px) {
    :root {
        --app-font-size: 14px;
    }
}

@media (max-width: 768px) {
    :root {
        --app-font-size: 13px;
    }
}

@media (max-width: 576px) {
    :root {
        --app-font-size: 12px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout Container */
.layout-container {
    display: grid;
    width: var(--app-layout-width);
    height: 100vh;
    margin: 0 auto;
    grid-template-rows: repeat(auto-fill, minmax(6.25rem, auto)); /* 100px to rem */
    gap: var(--app-gap); /* Using the gap variable */
}

/* General Container */
.general-container {
    /* Define any general container styles here */
}

/* Layout Row */
.layout-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--app-padding); /* Using the padding variable */
    border: 0.0625rem solid var(--app-border-color); /* Using the border color variable */
}