        :root {
            /* General Settings */
            --pixel: 0.0625rem; /* Pixel variable (1px) */
            /* Typography Settings */
            --app-font-size: 16px;

            /* Box Settings */
            --app-layout-width: 90%;
            --app-spacing: 0.3125rem; /* Spacing variable (10px) */
            --app-padding: var(--app-spacing); /* Padding variable (5px) */
            --app-margin: var(--app-spacing); /* Margin variable (5px) */
            --app-min-row-height: minmax(calc(var(--app-spacing) * 10), auto); /* Minimum row height variable (100px) */
            --app-border-width: calc(var(--app-spacing) * 0.2); /* Border width variable (1px) */

            /* Color Settings */
            --app-border-color: #ccc; /* Border color variable */
            --body-bg-color: #f5f5f5; /* Light neutral background color */
        }

        @media (max-width: 1200px) {
            :root {
                --app-font-size: 15px;
            }
        }

        @media (max-width: 992px) {
            :root {
                --app-font-size: 14px;
            }
        }

        @media (max-width: 768px) {
            :root {
                --app-font-size: 13px;
            }
        }

        @media (max-width: 576px) {
            :root {
                --app-font-size: 12px;
            }
        }
        html {
            font-size: var(--app-font-size);
        }
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: var(--body-bg-color);
        }

        /* Layout Container */
        .layout-container {
            display: grid;
            width: var(--app-layout-width);
            height: 100vh;
            margin: 0 auto;
            grid-template-rows: repeat(auto-fill, var(--app-min-row-height)); /* 50px to rem */
            gap: var(--app-spacing); /* Using the gap variable */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);
        }

        /* General Container */
        .general-container {
            /* Define any general container styles here */
        }

        /* Layout Row */
        .layout-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--app-padding); /* Using the padding variable */
            border: var(--app-border-width) solid var(--app-border-color); /* Using the border color variable */
        }